<!DOCTYPE html>
<!--繁體中文-->
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">	
    <!-- 定義為RWD web -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 最佳兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <!-- 防止搜索引擎索引及檢索 -->
    <meta name="robots" content="noindex,nofollow">

    <!-- !!固定!! 後台樣板 css start -->
    <link rel="stylesheet" href="../../resources/back-end/assets/css/main/app.css">
    <!-- !!固定!! 後台樣板 css end -->

    <!-- favicon 網址列小圖示 -->
    <link rel="shortcut icon" href="../../resources/back-end/assets/images/main/favicons/favicon2.ico" type="image/x-icon">

<!--    需要用自己的css請放在這邊註解下方覆蓋 start -->



<!--    自己的css end-->
<!--    網址列標題-->
    <title>陪你e生e世　社區服務平台：後台Home</title>
    <!-- !!固定!! 旁邊導覽列sidebar menu start -->
	<script src="../../resources/back-end/assets/js/sidebar.js"></script>
    <!-- !!固定!! 旁邊導覽列sidebar menu end -->
</head>

<body>

<!--!!固定!! 這邊以下是右上方放登出+通知等等的 navbar 使用的樣板格式(目前為假資料)-->
<div id="main" class='layout-navbar'>
                <header class='mb-3'>
                    <nav class="navbar navbar-expand navbar-light navbar-top">
                        <div class="container-fluid">
                            <a href="#" class="burger-btn d-block">
                                <i class="bi bi-justify fs-3"></i>
                            </a>

                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ms-auto mb-lg-0">
                                    <li class="nav-item dropdown me-1">
                                        <a class="nav-link active dropdown-toggle text-gray-600" href="#" data-bs-toggle="dropdown"
                                           aria-expanded="false">
                                            <i class='bi bi-envelope bi-sub fs-4'></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                            <li>
                                                <h6 class="dropdown-header">Mail</h6>
                                            </li>
                                            <li><a class="dropdown-item" href="#">No new mail</a></li>
                                        </ul>
                                    </li>
                                    <li class="nav-item dropdown me-3">
                                        <a class="nav-link active dropdown-toggle text-gray-600" href="#" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                                            <i class='bi bi-bell bi-sub fs-4'></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end notification-dropdown" aria-labelledby="dropdownMenuButton">
                                            <li class="dropdown-header">
                                                <h6>Notifications</h6>
                                            </li>
                                            <li class="dropdown-item notification-item">
                                                <a class="d-flex align-items-center" href="#">
                                                    <div class="notification-icon bg-primary">
                                                        <i class="bi bi-cart-check"></i>
                                                    </div>
                                                    <div class="notification-text ms-4">
                                                        <p class="notification-title font-bold">Successfully check out</p>
                                                        <p class="notification-subtitle font-thin text-sm">Order ID #256</p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="dropdown-item notification-item">
                                                <a class="d-flex align-items-center" href="#">
                                                    <div class="notification-icon bg-success">
                                                        <i class="bi bi-file-earmark-check"></i>
                                                    </div>
                                                    <div class="notification-text ms-4">
                                                        <p class="notification-title font-bold">Homework submitted</p>
                                                        <p class="notification-subtitle font-thin text-sm">Algebra math homework</p>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <p class="text-center py-2 mb-0"><a href="#">See all notification</a></p>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="dropdown">
                                    <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                        <div class="user-menu d-flex">
                                            <div class="user-name text-end me-3">
                                                <h6 class="mb-0 text-gray-600">管理員名</h6>
                                                <p class="mb-0 text-sm text-gray-600">Administrator</p>
                                            </div>
                                            <div class="user-img d-flex align-items-center">
                                                <div class="avatar avatar-md">
                                                    <img src="">
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton" style="min-width: 11rem;">
                                        <li>
                                            <h6 class="dropdown-header">Hello!</h6>
                                        </li>
                                        <li><a class="dropdown-item" href="#"><i class="icon-mid bi bi-person me-2"></i> My
                                            Profile</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="icon-mid bi bi-gear me-2"></i>
                                            Settings</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="icon-mid bi bi-wallet me-2"></i>
                                            Wallet</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="#"><i
                                                class="icon-mid bi bi-box-arrow-left me-2"></i> Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </header>
                <!-- !!固定!! 右上方 navbar end -->

    <!-- 頁面 START!　網頁請從這邊以下開始修改，不需要此格式想用自己的請刪除 ~　-->
				<div id="app1">
					<table class="table table-bordered border-primary">
						<tr>
							<th>活動名稱</th>
							<th>檢舉原因</th>
							<th>處理狀態</th>
							<th>備註</th>
							<th>確認處理</th>
						</tr>
						<tr v-for="report in reports" >
							<td>{{report.name}}</td>
							<td>{{report.reportContent}}</td>
							<td><select v-model="report.reportStatus" class="choices form-select choices__input">
							<option value="0">未處理</option>	
							<option value="1">違反規定</option>	
							<option value="2">未違反規定</option>	
							</select>
							</td>
							<td><button  class="btn btn-primary" @click="write(report.actReportId)">輸入備註</button></td>
							<td><button type="submit" class="btn btn-primary" @click="submit(report)">確認修改</button></td>
						</tr>
					</table>
				</div>
          
<!--        頁面 END-->


<!--        !!固定!! footer(擺每個頁面最下方的版權用) START-->
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2022 &copy; 陪你e生e世　社區服務平台</p>
                    </div>
                    <div class="float-end">
                        <p>Community Management</p>
                    </div>
                </div>
            </footer>
<!--        !!固定!! footer END-->
                </div>
            </div>

<!-- 樣板用js start -->
<script src="../../resources/back-end/assets/js/bootstrap.js"></script>
<script src="../../resources/back-end/assets/js/app.js"></script>
<!-- 樣板用js end -->

<!-- vue -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
	<!-- vue -->
	<!-- 甜心提醒 -->
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<style type="text/css">
	.table-bordered>:not(caption)>*>* {
		border-width: 3px 1px
	}
	</style>
<script>

Vue.createApp({
	
	data(){
	
		return{
		   reports:[]
		}
	
	
	},
	
	methods:{

		submit(report){
			let web = getWeb();
			axios.post(web+'/activity/ActReport?action=updateStatus',{report})
			.then(
				function(){
					location.reload();
				}
			)


		},



	
	write(actReportId){

		sessionStorage.setItem("id",actReportId);

		    Swal.fire({
		    	title:"備註內容",
		    	html:`
		    	<textarea  style="resize:none;width:300px;height:200px;" id="report"></textarea>`,
				background: '#fff url(https://sweetalert2.github.io/images/trees.png)',
  backdrop: `
    rgba(0,0,123,0.4)
    url("https://sweetalert2.github.io/images/nyan-cat.gif")
    left top
    no-repeat
  `,
  padding: '3em',
				confirmButtonText:'送出',
	             showCancelButton:true,
	             cancelButtonText:'取消',
	             cancelButtonColor:'#d33',	  
				 background: '#fff url(/images/trees.png)',
				 
	             preConfirm:function(){
	            	 let reportNote = document.getElementById('report').value
						 actReportId = sessionStorage.getItem("id")
						 if(true){
			                   return{
								actReportId: actReportId,
								reportNote: reportNote,
			                   }
			                  }
						
	             },	          
	             }).then(function(result){
		    	if(result.isConfirmed){
		    		   let web = getWeb();
		    		  fetch(web+'/activity/ActReport?action=updateContent', {
		                   method: 'post',
		                   headers: {
		                    'Content-Type': 'application/json'
		                   },
		                   body: JSON.stringify(result.value)
		                  });
		    		  
		    		  Swal.fire({
		    			  icon: 'success',
		    			  title: '成功留言',
		    			  showConfirmButton: false,
		    			  timer: 1500
		    			})		    		
		    	}else{
		    		Swal.fire('取消','取消留言');
		    	}	            	 	            	 
		    })	  
		  }
		
	},
	
	mounted(){
	
	
	let web = getWeb();
	axios.post(web+ '/activity/ActReport?action=getAll')
	.then((resp)=>{
		this.reports = resp.data
	
	}
	) 
	
	
	
	
	}
	
	
	
	
	
	}).mount("#app1")
	
	
	
	
	
	function getWeb(){
		let path = window.location.pathname;
		let web = path.substring(0, path.indexOf('/', 1));
		return web
	}
	
	

	
</script>


</body>

</html>