@charset "utf-8";


/*===========================================================*/
/*背景色延伸動畫-上至下
/*===========================================================*/


/*========= loading畫面CSS ===============*/
#splash {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 9999999;
	text-align:center;
	color:#fff;
}

#splash-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#splash-logo img{
	width:50px;
}

/*========= 畫面轉變CSS ===============*/

/*畫面轉變動畫*/

.splashbg{
	display: none;
}

body.appear .splashbg{
    display: block;
    position:fixed;
	z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
	left: 0;
    transform: scaleY(0);
    background-color: #ddcd83;/*伸展背景色*/
	animation-name:PageAnime;
	animation-duration:1.2s;
	animation-timing-function:ease-in-out;
	animation-fill-mode:forwards;

}

@keyframes PageAnime{
	0% {
		transform-origin:top;
		transform:scaleY(0);
	}
	50% {
		transform-origin:top;
		transform:scaleY(1);
	}
	50.001% {
		transform-origin:bottom;
	}
	100% {
		transform-origin:bottom;
		transform:scaleY(0);
	}
}

/*首頁進入畫面轉變css設定*/
#wrapper{
	opacity: 0;
}


body.appear #wrapper{
	animation-name:PageAnimeAppear;
	animation-duration:1s;
	animation-delay: 0.8s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes PageAnimeAppear{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}


/*===========================================================*/
/*從上方出現nav
/*===========================================================*/
#g-nav{
    position:fixed;
    z-index: 999;
    /*nav出現位置與形狀*/
	bottom:120%;
	width:100%;
    height: 100vh;
	background: #d9cf95;
    /*動作*/
	transition: all 0.6s;
}

/*動作位置到達設置成0*/
#g-nav.panelactive{
    bottom: 0;
}

/*nav縱scroll*/
#g-nav #g-nav-list{
    /*nav數增加時縦scroll*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;/*nav高*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*nav*/
#g-nav ul {
    /*nav設置絕對值中央*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*list layout設定*/
#g-nav li{
	list-style: none;
    text-align: center; 
}

#g-nav li a{
	color: rgb(55, 119, 103);
	text-decoration: none;
	padding:5px;
	display: block;
	letter-spacing: 0.1em;
	font-weight: bold;
	font-size: 1rem;
}

/*===========================================================*/
/*menu轉變成x
/*===========================================================*/

.openbtn{
	position:fixed;
    z-index: 9999;/*讓button在最前方*/
	top:0;
	right: 0;
	cursor: pointer;
    width: 80px;
    height:70px;
    border-left:2px solid #333;
}
	
/*button內*/
.openbtn span{
    display: inline-block;
    transition: all .4s;/*動畫設定*/
    position: absolute;
  }

.openbtn span:nth-of-type(1),
.openbtn span:nth-of-type(3) {
    height: 2px;
	background: #333;
  	width:30%;
    opacity: 0;
    top:22px;
    left:20px;
 }

.openbtn span:nth-of-type(2) {
	top:22px;
	left:18px;
	color: #333;
    font-size: 0.9rem;
}

@media screen and (max-width:550px) {
.openbtn span:nth-of-type(2) {
    font-size: 0.8rem;
    }
    
}

.openbtn span:nth-of-type(3) {
    top:35px;
}


/*設置active class,點選後線會回轉漸變成x、原本Menu跟表示的項目會變透明而消失*/
.openbtn.active span:nth-of-type(1),
.openbtn.active span:nth-of-type(3) {
    opacity:1;
}

.openbtn.active span:nth-of-type(1) {
    top: 28px;
    left: 30px;
    transform: translateY(6px) rotate(-45deg);
}

.openbtn.active span:nth-of-type(2) {
	opacity:0;
}

.openbtn.active span:nth-of-type(3){
    top: 40px;
    left: 30px;
    transform: translateY(-6px) rotate(45deg);
}


/*===========================================================*/
/*上方menu跳轉位置效果
/*===========================================================*/

/*========= 跳轉位置設置 ===============*/

#header{
	position: fixed;/*header固定*/
	height: 80px;/*Header高設定*/
	width:100%;
    z-index: 8;
	display: flex;
	justify-content: space-around;
	align-items: center;
    background: rgb(225, 238, 234);
	opacity: 90%;
}

@media screen and (max-width:990px) {
#header{
	position: fixed;/*header固定*/
    height: 70px;
	width:100%;
	display: flex;
	justify-content: flex-end;

	/*position: sticky;*/
    }  
}

#pc-nav ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
    /*text-transform: uppercase;*/
    margin: 0  0 0;
}

#pc-nav li a{
	display: block;
	text-decoration: none;
	color: rgb(64, 50, 43);
	padding:0 15px;
	transition:all 0.3s;
	font-size: 1rem;
}

#pc-nav li.current a,
#pc-nav li a:hover{
	color: #3684d2;
}

/*===========================================================*/
/*滑動線延伸效果*/
/*===========================================================*/

.scrollgress{
	z-index:99;
}

/*===========================================================*/
/*底線伸展改變背景色*/
/*===========================================================*/

.btnlinestretches3{
    /*線基準設定relative*/
	position:relative;
    /*button形狀*/  
	color:rgb(44, 93, 201);
    padding: 5px 30px;
	display:inline-block;
    text-decoration: none;
    outline: none;
}

/*text設定*/
.btnlinestretches3 span{
    /*為了要讓text先出現故設定z-index*/
	position:relative;
	z-index: 2;
}

.btnlinestretches3:hover span{
	color: #fff;
}

/*線設定*/
.btnlinestretches3::after {
	content:'';
    /*設定線的絕對位置*/
	position:absolute;
	z-index:1;
	bottom:0;
	left:0;
    /*線形狀*/
	background:rgb(89, 189, 150);
	width:100%;
	height:3px;
    /*動畫效果*/
	transition:all 0.3s ease-in-out;
}

/*背景延伸的線*/
.btnlinestretches3:hover::after {
	height:100%;
}

/*===========================================================*/
/*達到page指定的高度時會從右方出現*/
/*===========================================================*/

/*top link圖示形狀*/
#page-top a{
	display: flex;
	justify-content:center;
	align-items:center;
	background: #61c5fb;
	width: 60px;
	height: 60px;
	color: #fff;
	text-align: center;
	/*text-transform: uppercase; */
	text-decoration: none;
	font-size:0.6rem;
	transition:all 0.3s;
	border-radius:50%;
}

#page-top a:hover{
	background: #777;
}

/*固定link在最右下位置*/
#page-top {
	position: fixed;
	right: 0;
	bottom:0;
	z-index: 2;
    /*初始設定未出現*/
	opacity: 0;
	transform: translateX(100px);
}

/*　左方動作　*/
#page-top.LeftMove{
	animation: LeftAnime 0.5s forwards;
}

@keyframes LeftAnime{
  from {
    opacity: 0;
	transform: translateX(100px);
  }
  to {
    opacity: 1;
	transform: translateX(0);
  }
}

/*　右方動作　*/
#page-top.RightMove{
	animation: RightAnime 0.5s forwards;
}
@keyframes RightAnime{
  from {
  	opacity: 1;
	transform: translateX(0);
  }
  to {
  	opacity: 1;
	transform: translateX(100px);
  }
}

/*===========================================================*/
/*點選顯示隱藏收合*/
/*===========================================================*/

/*風琴全體設定*/
.accordion-area{
    list-style: none;
    width: 96%;
    max-width: 900px;
    margin:0 auto;
}

.accordion-area li{
    margin: 10px 0;
}

.accordion-area section {
	border: 1px solid #ccc;
}

/*風琴title*/
.title {
    position: relative;/*以+為位置基準設定relative*/
    cursor: pointer;
    font-size:1rem;
    font-weight: normal;
    padding: 3% 3% 3% 50px;
    transition: all .5s ease;
}

@media screen and (max-width:768px) {
.title {
    font-size:0.9rem;
}
}

/*icon + / × */
.title::before,
.title::after{
    position: absolute;
    content:'';
    width: 15px;
    height: 2px;
    background-color: #333;
    
}
.title::before{
    top:48%;
    left: 15px;
    transform: rotate(0deg);
    
}
.title::after{    
    top:48%;
    left: 15px;
    transform: rotate(90deg);

}

/*　加上close改變形狀　*/

.title.close::before{
	transform: rotate(45deg);
}

.title.close::after{
	transform: rotate(-45deg);
}

/*風琴效果應用區域*/
.box {
    display: none;/*初始設定未顯示*/
    background: #f3f3f3;
	margin:0 3% 3% 3%;
    padding: 3%;
}


/*===========================================================*/
/*News Ticker
/*===========================================================*/

/*第一行周圍空白區間*/
.slider a{
    display: block;
    background:#fff;
    padding:10px 0;
}

/*時間*/
.slider time{
    display:inline-block;
    font-size:0.8rem;
    margin-right:10px;
    color:#777;
}

/*768px以下*/
@media screen and (max-width:768px) {
    .slider {
        padding:20px;
        background:#fff;
    }

    .slider li {
        border-bottom:1px dashed #ccc;
    }

    .slider li:last-child {
        border-bottom:none;
    }
    .slider time {
        display:block;
		padding-bottom:10px;
    }
}



/*左右切入*/
.bgextend{
	animation-name:bgextendAnimeBase;
	animation-duration:1s;
	animation-fill-mode:forwards;
	position: relative;
	overflow: hidden;
	opacity:0;
}

@keyframes bgextendAnimeBase{
  from {
    opacity:0;
  }

  to {
    opacity:1;  
}
}

/*中間要素*/
.bgappear{
	animation-name:bgextendAnimeSecond;
	animation-duration:1s;
	animation-delay: 0.6s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes bgextendAnimeSecond{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}

.bgLRextend::before{
	animation-name:bgLRextendAnime;
	animation-duration:1s;
	animation-fill-mode:forwards;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #53a79b;/*伸展開的背景色設定*/
}
@keyframes bgLRextendAnime{
	0% {
		transform-origin:bottom;
		transform:scaleX(0);
	}
	50% {
		transform-origin:bottom;
		transform:scaleX(1);
	}
	50.001% {
		transform-origin:top;
	}
	100% {
		transform-origin:top;
		transform:scaleX(0);
	}
}

/* 從下方飄出 */
.fadeUp{
animation-name: fadeUpAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity:0;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
	transform: translateY(100px);
  }

  to {
    opacity: 1;
	transform: translateY(0);
  }
}


/* 從左方出現停止 */
.flipLeft{
animation-name: flipLeftAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
perspective-origin: left center;
opacity:0;
}

@keyframes flipLeftAnime{
  from {
   transform: perspective(600px) translate3d(0, 0, 0) rotateY(30deg);
 	opacity: 0;
  }

  to {
  transform: perspective(600px) translate3d(0, 0, 0) rotateY(0deg);
  opacity: 1;
  }
}

/* 手機畫面用。親要素如果沒設定會不太能動*/
#vision,
.service-area{
    transform:  translate3d(0, 0, 0);
}

/* 滑下會出現先設定透明度為0　*/
.bgLRextendTrigger,
.bgappearTrigger,
.fadeUpTrigger,
.flipLeftTrigger{
    opacity: 0;
}


/*===========================================================*/
/* 往下滑被header覆蓋住*/
/*===========================================================*/

#top-main{
	width:100%;
	height: 100vh;
	position: center;
} 

#top-main:before{
	content: '';
	position:fixed;
	top:10vh;
	left:10%;
	z-index:-1;
	width:80%;
	height: 80vh;
	/*背景設定*/
	/* background:url("../img/hands2.jpg") no-repeat center; */
	background-size:cover;
}

@media screen and (max-width:768px) {
#top-main:before{
    background-position: top center;
    background-size:auto 75%;
}
}

#container{
	position: relative;
	z-index:1;
	background:#fff;
}


/*===================================
複數圖輪播
===================================*/

.slider2 img {
	width:100%;
	height:auto;
}

.slider2 .slick-slide {
	margin:10px 10px;
}

.slider-item01 {
	background:url(../img/lunch.jpg);
}

.slider-item02 {
	background:url(../img/hands2.jpg);
}

.slider-item03 {
	background:url(../img/sunset.jpg);
}

.slider-item {
	width: 100%;
	height:90vh;
	opacity: 90%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


/*==================================================
/* 按鈕點擊內側線縮小
/*===================================*/

.pushcircle{
	position: relative;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*內側線*/
.pushcircle:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 90%;
	height: 90%;
	border-radius: 10px;
	transform: translate(-50%, -50%) scale(1.1);
	transition: .3s ease;
}

.sub-btn-list li:first-child a{
	background: #7db6cb;
}
.sub-btn-list li:last-child a{
	background: #396596;
}
.sub-btn-list li:first-child a.pushcircle:after {
	border: 1px solid #7db6cb;
}
.sub-btn-list li:last-child a.pushcircle:after {
	border: 1px solid #396596;
}

/*hover線往內側縮小*/
.sub-btn-list li:first-child a.pushcircle:hover:after,
.sub-btn-list li:last-child a.pushcircle:hover:after {
	transform: translate(-50%, -50%) scale(1);
	border-color:rgba(255,255,255,0.8);
}

/*==================================================
/*scroll追隨位置*/
/*===================================*/

/*固定*/

.sub-fix-block{
	position: -webkit-sticky;
	position: sticky;
	top:20px;
}

/*1020px以下*/

@media screen and (max-width:1020px){
	.sub-fix-block{
		position:relative;
		top:0;
	}
}

/*======================================
/*Tab Menu*/
/*===================================*/

/*tab形狀*/
.tab-area{
	background:#fff;
	border-radius: 10px;
	padding:20px;
}

.tab{
	display: flex;
	flex-wrap: wrap;
	padding: 0 0 20px 0;
}

.tab li{
	width:33.333%;
	text-align: center;
	white-space: nowrap;
}

.tab li a{
	display: block;
	border-bottom:transparent 2px solid;
	padding:10px 0;
}

.tab li.active a{
	border-color: #3684d2;
}

.area {
	display: none;
	opacity: 0;
	background: #fff;
}

.area.is-active {
	display: block;
	animation-name: displayAnime;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

@keyframes displayAnime{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


/*tippy*/
p.caption {
	text-align: center;
	margin:100px 0;
	font-size: 1.2rem;
}

.inner-show-cap p{
	font-size:1rem;
}

#login{
	display:block;
	outline: none;
	/*background: #7db6cb;*/
	/*color: #1e4466;*/
	border-radius: 10px;
	padding: 10px 10px;
	margin: 0 auto;
}

#login:hover{
	/*background: #056AA9;*/
}


#login span{
	background: linear-gradient(transparent 60%, #ffff66 60%);
	cursor: pointer;
}

#login a{
	color: #7db6cb;
}

#login a:hover{
	color: #7db6cb;
	text-decoration: none;
}

#login{
	display:block;
	outline: none;
	/*background: #7db6cb;*/
	/*color: #1e4466;*/
	border-radius: 10px;
	padding: 10px 10px;
	margin: 0 auto;
}


/*out*/
#out span{
	background: linear-gradient(transparent 60%, #ffff66 60%);
	cursor: pointer;
}

#out a{
	color: #7db6cb;
}

#out a:hover{
	color: #7db6cb;
	text-decoration: none;
}